<%= form_with model: tag, data: { controller: 'loading_form' } do |f| %>
  <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-4">
    <div class="space-y-6 lg:col-start-1 lg:col-span-4 border rounded-md overflow-hidden p-6">
      <% if local_assigns[:error_messages] && error_messages.any? %>
        <div class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: mini/x-circle -->
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800">There were errors with your submission</h3>
              <div class="mt-2 text-sm text-red-700">
                <span>
                  <%= error_messages.join(' ') %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class='form-floating'>
        <label for="" class="block text-sm font-medium text-gray-700">Tag URL</label>
        <%= f.text_field :full_url, 
                          value: tag.full_url, 
                          placeholder:'e.g. "https://cdn.swishjam.com/latest/src.js"', 
                          type:'text',
                          class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm' %>
      </div>
      <div class="grid justify-items-end">
        <button type='submit' class='inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100'>
          Host tag
        </button>
      </div>
    </div>
  </div>
<% end %>